{% extends 'base.html.twig' %}

{% block title %} Limerick{% endblock %}

{% block body %}
    <h1>Limerick </h1>
    <br>
    <p>there once was a man from Kildare, who went to the North county fair ...</p>
{% endblock %}
